{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Handjet&family=Josefin+Sans:ital,wght@1,300&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <title>Genius Lyrics</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
</head>
<body>

    <div class="container">
        {% block content %}

        {% endblock content %}
    </div>
</body>
</html>