{% extends 'base.html' %}

{% block content %}

<h2>Welcome to the Genius Lyrics API App</h2>
<!-- <br> -->
<h5><em>Here you can write the artist's name and get the top 10 tracks</em></h5>
<form method="GET">

    {{ form.as_p }}

    <button type="submit" class="btn btn-secondary">Search</button>
</form>

{% if tracks %}
    <br>
    <h4>Top10 {{ artist }} tracks:</h4>
    {% for track_id, value in tracks.items %}
        <p>{{ value }} <a href="{% url 'lyrics:lyrics_view' track_id %}">View</a></p>
    {% endfor %}
    <br>
    <a href="{% url 'lyrics:get_lyrics' %}">Get lyrics by track id</a>
{% endif %}
<br>
<br>

{% endblock content %}
